/* Common app styling */

overflow: hidden;

#content-main {
	background: #fff;
	position: fixed;
	
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto; /* Enable scrollbars within main content section */
}

.padding {
	padding: 15px;
}

#notification-message {
	background-color: #818285;
	color: #fff;
	position: absolute;
	width: 100%;
	min-height: 80px;
	right: 0;
	z-index: 100;
	bottom: 0;
	display: none; /* Hidden until invoked */
}

	#notification-message #notification-message-header {
		font-size: medium;
		margin-bottom: 10px;
	}

	#notification-message #notification-message-close {
		background-image: url("../Images/Close.png");
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	}

	.right {
		position:absolute;
		left:35%;
	}

.footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    background-color: #0078D7;
    display:block;
    box-sizing:border-box;
}

.footer .brand-text {
    padding-top: 18px;
    font-size: 21px;
    font-family: Rockwell;
    text-align: center;
    vertical-align: bottom;
}

.ms-Button {
    font: #E81123;
}

.ms-Pivot-content {
    display: none;
    margin-top: 20px;
}

.ms-Pivot-content.is-selected {
    display: block;
}
